<h1 mat-dialog-title>Get an offer</h1>
<div mat-dialog-content>
  <div>
    <label>Distance</label>
    <input type="number" [(ngModel)]="model.Distance"/>
  </div>
  <div>
    <label>Living area</label>
    <input type="number" [(ngModel)]="model.LivingArea"/>
  </div>
  <div>
    <label>Attic area</label>
    <input type="number" [(ngModel)]="model.AtticArea"/>
  </div>
  <div>
    <label>Piano included</label>
    <input type="checkbox" [(ngModel)]="model.PianoIncluded"/>
  </div>
</div>
<div mat-dialog-actions>
  <button (click)="submitProposal()">Submit</button>
  <button (click)="cancel()">Cancel</button>
</div>