<h3>Offer details</h3>
<br/>
<div class="card">
    <div class="card-body">
        <div>Proposal serial number: <b>{{model.id}}</b></div>
        <div>Full name: <b>{{model.userFullName}}</b></div>
        <div>Distance: <b>{{model.distance}} km</b></div>
        <div>Living area: <b>{{model.livingArea}} kvm</b></div>
        <div>Attic area: <b>{{model.atticArea}} kvm</b></div>
        <div>Piano included: <b>{{model.pianoIncluded}}</b></div>
        <div>Total price: <b>{{model.totalPrice}} SEK</b></div>
    </div>
</div>